/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
/*-------------------------------------------*\
  MIXINS
/*-------------------------------------------*/
/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
/* line 76, ../sass/front.scss */
.overflow {
  overflow: hidden;
}

/* line 80, ../sass/front.scss */
.clearfix {
  clear: both;
}

/* line 84, ../sass/front.scss */
.icon-bordered {
  font-size: 1.9em;
  vertical-align: middle;
  margin: 0px 4px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
/* line 89, ../sass/front.scss */
.icon-bordered.red {
  color: #e02b07;
}

/*-------------------------------------------*\
  CUSTOM BOOTSTRAP
/*-------------------------------------------*/
/* line 97, ../sass/front.scss */
.dropdown-menu {
  border-radius: 5px;
}

/* line 101, ../sass/front.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/* line 106, ../sass/front.scss */
.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4 {
  margin: 0px;
}

@media (max-width: 768px) {
  /* line 119, ../sass/front.scss */
  .navbar {
    margin-bottom: 0px;
  }

  /* line 122, ../sass/front.scss */
  .navbar-collapse {
    width: 100% !important;
    margin-left: 0px !important;
  }
}
@media (min-width: 768px) {
  /* line 129, ../sass/front.scss */
  .navbar {
    padding: 17px 0px;
  }
  /* line 131, ../sass/front.scss */
  .navbar .navbar-brand {
    height: auto;
    margin-right: 50px;
  }
  /* line 135, ../sass/front.scss */
  .navbar .navbar-nav > li > a, .navbar a.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
  }
  /* line 141, ../sass/front.scss */
  .navbar a.btn-notif {
    width: 40px;
    height: 40px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
    margin-left: 30px;
    font-size: 1.5em;
  }
  /* line 150, ../sass/front.scss */
  .navbar a.btn-notif .pills {
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    font-size: 0.6em;
    position: absolute;
    right: -4px;
    top: -1px;
    background: #e02b07;
  }
}
/*-------------------------------------------*\
  SITE NOTIF
/*-------------------------------------------*/
/* line 169, ../sass/front.scss */
.site-notif {
  display: none;
}

@media (min-width: 992px) {
  /* line 173, ../sass/front.scss */
  html, body {
    height: 100%;
  }

  /* line 177, ../sass/front.scss */
  .header {
    position: static;
    left: 0px;
    right: 0px;
  }

  /* line 183, ../sass/front.scss */
  .site-notif {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eeeeef;
    width: 250px;
    overflow-y: scroll;
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  /* line 196, ../sass/front.scss */
  .site-container {
    height: 100%;
    overflow: hidden;
  }

  /* line 201, ../sass/front.scss */
  .site-pusher {
    height: 100%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 207, ../sass/front.scss */
  .site-content {
    position: absolute;
    overflow-y: scroll;
    top: 81px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-overflow-scrolling: touch;
  }

  /* line 218, ../sass/front.scss */
  .site-with-notif .site-pusher {
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 221, ../sass/front.scss */
  .site-with-notif .site-cache {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-------------------------------------------*\
  WIZARD
/*-------------------------------------------*/
@media (max-width: 768px) {
  /* line 240, ../sass/front.scss */
  .wizard {
    min-height: 0px !important;
  }
  /* line 242, ../sass/front.scss */
  .wizard .wizard-paragraph {
    font-size: 0.5em;
  }
}
/* line 247, ../sass/front.scss */
.wizard {
  min-height: 300px;
  background-size: cover;
  margin-bottom: 15px;
}
/* line 252, ../sass/front.scss */
.wizard .wizard-container {
  background-color: rgba(26, 133, 209, 0.8);
  min-height: 145px;
  padding-top: 50px;
  padding-bottom: 10px;
}
/* line 259, ../sass/front.scss */
.wizard .wizard-blocks {
  text-align: center;
  margin-top: -43px;
}
/* line 264, ../sass/front.scss */
.wizard .wizard-block {
  width: 32%;
  display: inline-block;
}
/* line 269, ../sass/front.scss */
.wizard .wizard-paragraph {
  color: #FFF;
  width: 32%;
  display: inline-block;
}
/* line 273, ../sass/front.scss */
.wizard .wizard-paragraph strong {
  font-size: 1.3em;
}
/* line 278, ../sass/front.scss */
.wizard .wizard-progress-bar {
  height: 12px;
  width: 70%;
  background: #F0F;
  margin-top: -50px;
  background: #FFF;
  margin: 0 auto;
}
/* line 287, ../sass/front.scss */
.wizard .wizard-progress {
  background: #78c800;
  height: 100%;
}
/* line 294, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step1 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
  -webkit-transform: rotate(-45deg);
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step1 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step1 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 64, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step1 .circle .circle-content {
  -webkit-transform: rotate(45deg);
}
/* line 299, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step2 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #FFF;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step2 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step2 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 304, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step3 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #FFF;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step3 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="1"] .wizard-step3 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 308, ../sass/front.scss */
.wizard[data-step="1"] .wizard-progress {
  width: 0%;
}
/* line 315, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step1 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step1 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step1 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 54, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step1 .circle .circle-pills {
  background: #78c800;
  color: #FFF;
}
/* line 320, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step2 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
  -webkit-transform: rotate(-45deg);
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step2 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step2 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 64, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step2 .circle .circle-content {
  -webkit-transform: rotate(45deg);
}
/* line 325, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step3 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #FFF;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step3 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="2"] .wizard-step3 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 329, ../sass/front.scss */
.wizard[data-step="2"] .wizard-progress {
  width: 50%;
}
/* line 336, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step1 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step1 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step1 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 54, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step1 .circle .circle-pills {
  background: #78c800;
  color: #FFF;
}
/* line 341, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step2 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step2 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step2 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 54, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step2 .circle .circle-pills {
  background: #78c800;
  color: #FFF;
}
/* line 346, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step3 .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #78c800;
  -webkit-transform: rotate(-45deg);
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
/* line 25, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step3 .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #FFF;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step3 .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #78c800;
}
/* line 64, ../sass/front.scss */
.wizard[data-step="3"] .wizard-step3 .circle .circle-content {
  -webkit-transform: rotate(45deg);
}
/* line 350, ../sass/front.scss */
.wizard[data-step="3"] .wizard-progress {
  width: 100%;
}

/*-------------------------------------------*\
  FEED
/*-------------------------------------------*/
/* line 360, ../sass/front.scss */
.feed {
  margin-bottom: 30px;
}
/* line 363, ../sass/front.scss */
.feed .feed-header {
  position: relative;
  min-height: 50px;
  margin-top: 70px;
}
/* line 367, ../sass/front.scss */
.feed .feed-header .dropdown {
  display: inline-block;
}
/* line 372, ../sass/front.scss */
.feed .feed-item {
  margin: 15px;
}
/* line 376, ../sass/front.scss */
.feed .feed-more {
  margin-top: 30px;
}

@media (max-width: 768px) {
  /* line 384, ../sass/front.scss */
  .feed .btn-thinder, .feed .btn-filter {
    display: block;
    width: 100%;
    position: static !important;
    margin-bottom: 7px;
  }
}
/*-------------------------------------------*\
  IDEA DETAIL
/*-------------------------------------------*/
/* line 396, ../sass/front.scss */
.idea-detail {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  border: solid 1px #9d9d9d;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  padding-bottom: 30px;
  padding-bottom: 30px;
}
/* line 408, ../sass/front.scss */
.idea-detail .idea-detail-picture img {
  width: 100%;
}
/* line 412, ../sass/front.scss */
.idea-detail .idea-detail-content {
  margin-top: 50px;
}
/* line 415, ../sass/front.scss */
.idea-detail .idea-detail-popularity {
  text-align: center;
  margin-bottom: 15px;
}
/* line 420, ../sass/front.scss */
.idea-detail .idea-detail-tags {
  text-align: right;
}
/* line 424, ../sass/front.scss */
.idea-detail .idea-detail-author {
  position: absolute;
  background: #FFF;
  top: 0px;
  left: 0px;
  min-width: 240px;
  padding: 5px;
  border-bottom-right-radius: 5px;
}
/* line 435, ../sass/front.scss */
.idea-detail .votes .votes-up, .idea-detail .votes .votes-down {
  top: 18px;
}

/*-------------------------------------------*\
  COMMENT
/*-------------------------------------------*/
/* line 446, ../sass/front.scss */
.comment {
  margin-bottom: 30px;
}
/* line 448, ../sass/front.scss */
.comment .comment-item {
  border-radius: 5px;
  margin: 7px 0px;
  padding: 15px 0px;
  border: solid 1px #9d9d9d;
  position: relative;
  overflow: hidden;
}
/* line 456, ../sass/front.scss */
.comment .comment-avatar {
  text-align: right;
  margin-bottom: 10px;
}
/* line 460, ../sass/front.scss */
.comment .comment-username {
  font-weight: bold;
}
/* line 464, ../sass/front.scss */
.comment .comment-date {
  font-size: 0.8em;
}
/* line 468, ../sass/front.scss */
.comment .comment-content {
  margin-top: 7px;
}
/* line 472, ../sass/front.scss */
.comment .comments-votes {
  text-align: right;
}
/* line 474, ../sass/front.scss */
.comment .comments-votes a {
  color: #4e4d4e;
}
/* line 477, ../sass/front.scss */
.comment .comments-votes a.active {
  color: #1a85d1;
}

/*-------------------------------------------*\
  VOTES
/*-------------------------------------------*/
/* line 485, ../sass/front.scss */
.votes {
  width: 100%;
}
/* line 487, ../sass/front.scss */
.votes .votes-content {
  position: relative;
}
/* line 490, ../sass/front.scss */
.votes .votes-progress-bar {
  background: #78c800;
  height: 5px;
  width: 100%;
}
/* line 495, ../sass/front.scss */
.votes .votes-up, .votes .votes-down {
  position: absolute;
  top: -18px;
  text-align: right;
}
/* line 499, ../sass/front.scss */
.votes .votes-up a, .votes .votes-down a {
  color: #4e4d4e;
}
/* line 503, ../sass/front.scss */
.votes .votes-up {
  right: 5px;
}
/* line 506, ../sass/front.scss */
.votes .votes-down {
  left: 5px;
}
/* line 509, ../sass/front.scss */
.votes .votes-progress {
  background: #e02b07;
  width: 70%;
  height: 100%;
}

/*-------------------------------------------*\
  IDEA
/*-------------------------------------------*/
/* line 518, ../sass/front.scss */
.idea {
  width: 280px;
  background: #FFF;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  position: relative;
  padding-bottom: 30px;
  padding: 0px 0px 30px 0px;
}
/* line 526, ../sass/front.scss */
.idea .idea-picture {
  min-height: 151px;
  overflow: hidden;
}
/* line 529, ../sass/front.scss */
.idea .idea-picture img {
  width: 100%;
}
/* line 534, ../sass/front.scss */
.idea .idea-theme {
  position: absolute;
  left: -7px;
  top: 12px;
  background: #4e4d4e;
  color: #FFF;
  padding: 7px 10px;
}
/* line 543, ../sass/front.scss */
.idea .idea-avatar {
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
}
/* line 550, ../sass/front.scss */
.idea .idea-author {
  width: 90%;
  margin: 15px 0px 15px 5%;
  color: #9d9d9d;
}
/* line 556, ../sass/front.scss */
.idea .idea-gems {
  position: absolute;
  right: -20px;
  top: 115px;
}
/* line 561, ../sass/front.scss */
.idea .idea-gems .gems-score {
  position: absolute;
  left: -75px;
  top: 40px;
  color: #e02b07;
  font-size: 1.2em;
  z-index: 2;
}
/* line 570, ../sass/front.scss */
.idea .idea-gems .idea-btn {
  text-align: center;
}
/* line 574, ../sass/front.scss */
.idea .idea-gems .circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;
  border: 10px solid #FFF;
}
/* line 25, ../sass/front.scss */
.idea .idea-gems .circle .circle-content {
  width: 62px;
  height: 62px;
  font-size: 3.6em;
  background: #e02b07;
  border-radius: 48px;
  position: absolute;
  top: -1px;
  text-align: center;
  left: -1px;
  line-height: 62px;
}
/* line 38, ../sass/front.scss */
.idea .idea-gems .circle .circle-pills {
  position: absolute;
  font-size: 0.3em;
  top: -14px;
  right: -10px;
  background: #FFF;
  width: 20px;
  height: 20px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #FFF;
}
/* line 54, ../sass/front.scss */
.idea .idea-gems .circle .circle-pills {
  background: #FFF;
  color: #FFF;
}
/* line 576, ../sass/front.scss */
.idea .idea-gems .circle .circle-content {
  font-size: 1.6em;
}
/* line 582, ../sass/front.scss */
.idea .idea-description {
  width: 90%;
  margin: 15px 5% 15px 5%;
}
/* line 585, ../sass/front.scss */
.idea .idea-description p {
  margin-bottom: 15px;
}
/* line 589, ../sass/front.scss */
.idea .votes {
  position: absolute;
  bottom: 0px;
}

/*-------------------------------------------*\
  USER
/*-------------------------------------------*/
/* line 598, ../sass/front.scss */
.user {
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
}
/* line 605, ../sass/front.scss */
.user:last-child {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 611, ../sass/front.scss */
.user .user-avatar {
  padding: 0px;
  display: inline-block;
  width: 20%;
}
/* line 616, ../sass/front.scss */
.user .user-content {
  width: 75%;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}
/* line 624, ../sass/front.scss */
.user .user-username {
  margin-bottom: 3px;
}
/* line 626, ../sass/front.scss */
.user .user-username a {
  color: #4e4d4e;
}
/* line 631, ../sass/front.scss */
.user .user-gems {
  font-size: 0.8em;
}
/* line 635, ../sass/front.scss */
.user .user-rank, .user .user-date {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #9d9d9d;
}
/* line 642, ../sass/front.scss */
.user .user-ideas {
  margin-top: 7px;
  text-align: center;
}
/* line 645, ../sass/front.scss */
.user .user-ideas p {
  text-align: left;
}
/* line 648, ../sass/front.scss */
.user .user-ideas .btn {
  margin: 0 auto;
}

/*-------------------------------------------*\
  WIDGET
/*-------------------------------------------*/
/* line 658, ../sass/front.scss */
.widget .widget-scroll {
  max-height: 250px;
  overflow-y: scroll;
}

/* line 665, ../sass/front.scss */
.widget.widget-timeline {
  text-align: center;
}
/* line 668, ../sass/front.scss */
.widget.widget-timeline .widget-timeline-progress > svg {
  width: 40%;
  margin: 0px 30%;
}
/* line 672, ../sass/front.scss */
.widget.widget-timeline .widget-timeline-progress .remaining-label {
  color: #4e4d4e !important;
}
/* line 677, ../sass/front.scss */
.widget.widget-timeline .widget-timeline-time {
  text-align: center;
  font-size: 1.1em;
}
/* line 680, ../sass/front.scss */
.widget.widget-timeline .widget-timeline-time .time {
  font-size: 1.6em;
  color: #1a85d1;
}
/* line 686, ../sass/front.scss */
.widget.widget-timeline .widget-timeline-label {
  font-size: 0.9em;
  margin-top: 10px;
  color: #9d9d9d;
}

/* line 698, ../sass/front.scss */
.widget.widget-invest .widget-invest-precious {
  text-align: center;
  color: #e02b07;
  font-size: 7em;
}
/* line 704, ../sass/front.scss */
.widget.widget-invest .widget-invest-gems {
  text-align: center;
  font-weight: bold;
}
/* line 707, ../sass/front.scss */
.widget.widget-invest .widget-invest-gems .gems-counter {
  font-size: 2em;
}
/* line 710, ../sass/front.scss */
.widget.widget-invest .widget-invest-gems .gems-lebel {
  font-size: 1.5em;
}
/* line 715, ../sass/front.scss */
.widget.widget-invest .widget-invest-time {
  text-align: center;
  color: #9d9d9d;
  margin: 7px 0px 15px 0px;
}
/* line 719, ../sass/front.scss */
.widget.widget-invest .widget-invest-time .time {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 725, ../sass/front.scss */
.widget.widget-invest .widget-invest-mygems {
  margin-bottom: 10px;
}
/* line 727, ../sass/front.scss */
.widget.widget-invest .widget-invest-mygems .mygems-counter {
  color: #78c800;
}
/* line 732, ../sass/front.scss */
.widget.widget-invest .widget-invest-btn {
  margin-top: 18px;
  border-color: #78c800;
  color: #78c800;
}
/* line 738, ../sass/front.scss */
.widget.widget-invest .rangeslider, .widget.widget-invest .rangeslider__fill {
  height: 15px;
}
/* line 742, ../sass/front.scss */
.widget.widget-invest .rangeslider {
  background-color: #78c800;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
/* line 746, ../sass/front.scss */
.widget.widget-invest .rangeslider__fill {
  background: #ebebeb;
}
/* line 749, ../sass/front.scss */
.widget.widget-invest .rangeslider__handle {
  width: 25px;
  height: 25px;
  top: -5px;
}
