@import "compass";

/*-------------------------------------------*\
  VARIABLE
/*-------------------------------------------*/
$notif-width:250px!default;

/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
.dropdown-menu {
  border-radius: 5px;
}

// Navbar
@media (min-width: 992px) {
  .navbar {
    padding: 17px 0px;
    .navbar-brand {
      height: auto;
      margin-right: 50px;
    }
    .navbar-nav > li > a, a.navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 25px;
    }

    a.btn-notif {
      width: 40px;
      height: 40px;
      line-height: 15px;
      text-align: center;
      border-radius: 50%;
      padding: 0px;
      margin-left: 40px;
      font-size: 1.5em;
      .pills {
        width: 15px;
        height: 15px;        
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        font-size: 0.6em;
        position: absolute;
        right: -4px;
        top: -1px;
        background: #e02b07;
      }
    }
  }
}

/*-------------------------------------------*\
  SITE NOTIF
/*-------------------------------------------*/
.site-notif { display: none; }
// Desktop
@media (min-width: 992px) {

  html,body {
    height: 100%;
  }

  .header {
    position: static;
    left: 0px;
    right: 0px;
  }

  .site-notif {
    display: block;
    position: absolute;
    right: 0; 
    top: 0;
    bottom: 0;
    background: #eeeeef;  
    width: $notif-width;
    overflow-y: scroll;
    @include transform(translateX($notif-width));
    @include transition-duration(0.3s);
  }

  .site-container {
    height: 100%;
    overflow: hidden;
  }

  .site-pusher {
    height: 100%;
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }

  .site-content {
    position: absolute;
    overflow-y: scroll;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-overflow-scrolling:touch;
  }

  .site-with-notif {
    .site-pusher { 
      @include transform(translateX($notif-width * -1)); 
    }
    .site-cache {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0,0,0,0.6);
    }
  }

}