@import "compass";

/*-------------------------------------------*\
  VARIABLES
/*-------------------------------------------*/
$notif-width:250px !default;
$color-primary: #1a85d1;
$color-primary-dark: darken($color-primary, 5%);
$color-success: #78c800;
$color-danger: #e02b07;
$color-dark: #4e4d4e;
$color-light: #9d9d9d;


/*-------------------------------------------*\
  MIXINS
/*-------------------------------------------*/
@mixin circle($filled, $colorOut, $colorIn) {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  display: inline-block;

  .circle-content {
    width: 62px;
    height: 62px;
    font-size: 3.6em;
    background: $colorIn;
    border-radius: 48px;
    position: absolute;
    top: -1px;
    text-align: center;
    left: -1px;
    line-height: 62px;
  }

  .circle-pills {
    position: absolute;
    font-size: 0.3em;
    top: -14px;
    right: -10px;
    background: #FFF;
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-weight: bold;
    border-radius: 50%;
    color: $colorOut;
  }

  @if $filled == 'full' {
    border: 10px solid $colorOut;
    .circle-pills {
      background: $colorOut;
      color: #FFF;
    }
  }
  @if $filled == 'half' {
    border: 10px solid $colorOut;
    -webkit-transform:rotate(-45deg);
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    .circle-content {
      -webkit-transform:rotate(+45deg);
    }
  }
  @if $filled == 'empty' {
    border: 10px solid #FFF;
  }
}

/*-------------------------------------------*\
  GLOBAL
/*-------------------------------------------*/
.overflow {
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.icon-bordered {
  font-size: 1.9em;
  vertical-align: middle;
  margin: 0px 4px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  &.red {
    color: #e02b07;
  }
}

/*-------------------------------------------*\
  CUSTOM BOOTSTRAP
/*-------------------------------------------*/
.dropdown-menu {
  border-radius: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.panel-heading {
  h1,h2,h3,h4 {
    margin: 0px;
  }
}

// .panel-default>.panel-heading {
//   color: #FFF;
//   background-color: #333333;
//   border-color: #ddd;
// }

/////////////////// Navbar ////////////////////
@media (max-width: 768px) {
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-collapse {
    width: 100% !important;
    margin-left: 0px!important;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 17px 0px;
    .navbar-brand {
      height: auto;
      margin-right: 50px;
    }
    .navbar-nav > li > a, a.navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 25px;
    }

    a.btn-notif {
      width: 40px;
      height: 40px;
      line-height: 15px;
      text-align: center;
      border-radius: 50%;
      padding: 0px;
      margin-left: 30px;
      font-size: 1.5em;
      .pills {
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        font-size: 0.6em;
        position: absolute;
        right: -4px;
        top: -1px;
        background: #e02b07;
      }
    }
  }
}

/*-------------------------------------------*\
  SITE NOTIF
/*-------------------------------------------*/
.site-notif { display: none; }
// Desktop
@media (min-width: 992px) {

  html,body {
    height: 100%;
  }

  .header {
    position: static;
    left: 0px;
    right: 0px;
  }

  .site-notif {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eeeeef;
    width: $notif-width;
    overflow-y: scroll;
    @include transform(translateX($notif-width));
    @include transition-duration(0.3s);
  }

  .site-container {
    height: 100%;
    overflow: hidden;
  }

  .site-pusher {
    height: 100%;
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }

  .site-content {
    position: absolute;
    overflow-y: scroll;
    top: 81px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-overflow-scrolling:touch;
  }

  .site-with-notif {
    .site-pusher {
      @include transform(translateX($notif-width * -1));
    }
    .site-cache {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0,0,0,0.6);
    }
  }

}

/*-------------------------------------------*\
  WIZARD
/*-------------------------------------------*/

@media (max-width: 768px) {
  .wizard {
    min-height: 0px !important;
    .wizard-paragraph {
      font-size: 0.5em;
    }
  }
}
.wizard {
  min-height: 300px;
  background-size: cover;
  margin-bottom: 15px;

  .wizard-container {
    background-color: rgba(26, 133, 209, 0.8);
    min-height: 145px;
    padding-top: 50px;
      padding-bottom: 10px;
  }

  .wizard-blocks {
    text-align: center;
    margin-top: -43px;
  }

  .wizard-block {
    width: 32%;
    display: inline-block;
  }

  .wizard-paragraph {
    color: #FFF;
    width: 32%;
    display: inline-block;
    strong {
      font-size: 1.3em;
    }
  }

  .wizard-progress-bar {
    height: 12px;
    width: 70%;
    background: #F0F;
    margin-top: -50px;
    background: #FFF;
    margin: 0 auto;
  }

  .wizard-progress {
    background: $color-success;
    height: 100%;
  }

  &[data-step="1"] {
    .wizard-step1 {
      .circle {
        @include circle('half', $color-success, #FFF);
      }
    }
    .wizard-step2 {
      .circle {
        @include circle('empty', $color-success, #FFF);
      }
    }
    .wizard-step3 {
      .circle {
        @include circle('empty', $color-success, #FFF);
      }
    }
    .wizard-progress {
      width: 0%;
    }
  }

  &[data-step="2"] {
    .wizard-step1 {
      .circle {
        @include circle('full', $color-success, #FFF);
      }
    }
    .wizard-step2 {
      .circle {
        @include circle('half', $color-success, #FFF);
      }
    }
    .wizard-step3 {
      .circle {
        @include circle('empty', $color-success, #FFF);
      }
    }
    .wizard-progress {
      width: 50%;
    }
  }

  &[data-step="3"] {
    .wizard-step1 {
      .circle {
        @include circle('full', $color-success, #FFF);
      }
    }
    .wizard-step2 {
      .circle {
        @include circle('full', $color-success, #FFF);
      }
    }
    .wizard-step3 {
      .circle {
        @include circle('half', $color-success, #FFF);
      }
    }
    .wizard-progress {
      width: 100%;
    }
  }

}

/*-------------------------------------------*\
  FEED
/*-------------------------------------------*/
.feed {
  margin-bottom: 30px;

  .feed-header {
    position: relative;
    min-height: 50px;
    margin-top: 70px;
    .dropdown {
      display: inline-block;
    }
  }

  .feed-item {
    margin: 15px;
  }

}

@media (max-width: 768px) {
  .feed {
    .btn-thinder, .btn-filter {
      display: block;
      width: 100%;
      position: static !important;
      margin-bottom: 7px;
    }
  }
}
/*-------------------------------------------*\
  VOTES
/*-------------------------------------------*/
.votes {
  width: 100%;
  .votes-content {
    position: relative;
  }
  .votes-progress-bar {
    background: #78c800;
    height: 5px;
    width: 100%;
  }
  .votes-up, .votes-down {
    position: absolute;
    top: -18px;
    a {
      color: $color-dark;
    }
  }
  .votes-up {
    right: 5px;
  }
  .votes-down {
    left: 5px;
  }
  .votes-progress {
    background: #e02b07;
    width: 70%;
    height: 100%;
  }
}
/*-------------------------------------------*\
  IDEA
/*-------------------------------------------*/
.idea {
  width: 280px;
  background: #FFF;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  position: relative;
  padding-bottom: 30px;
  padding: 0px 0px 30px 0px;
  .idea-picture {
    max-height: 151px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .idea-theme {
    position: absolute;
    left: -7px;
    top: 12px;
    background: $color-dark;
    color: #FFF;
    padding: 7px 10px;
  }

  .idea-avatar {
    position: absolute;
    top: 45px;
    width: 100%;
    text-align: center;
  }

  .idea-author {
    width: 90%;
    margin: 15px 0px 15px 5%;
    color: $color-light;
  }

  .idea-gems {
    position: absolute;
    right: -20px;
    top: 115px;

    .gems-score {
      position: absolute;
      left: -75px;
      top: 40px;
      color: $color-danger;
      font-size: 1.2em;
      z-index: 2;
    }

    .circle {
      @include circle('full', #FFF, $color-danger);
      .circle-content {
        font-size: 1.6em;
      }
    }
  }

  .idea-description {
    width: 90%;
    margin: 15px 5% 15px 5%;
    p {
      margin-bottom: 15px;
    }
  }
  .votes {
    position: absolute;
    bottom: 0px;
  }
}

/*-------------------------------------------*\
  USER
/*-------------------------------------------*/
.user {
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;

  .user-avatar {
    padding: 0px;
    display: inline-block;
    width: 20%;
  }
  .user-content {
    width: 75%;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
  }

  .user-username {
    margin-bottom: 3px;
    a {
      color: $color-dark;
    }
  }

  .user-gems {
    font-size: 0.8em;
  }

  .user-rank, .user-date {
    position: absolute;
    right: 15px;
    top: 5px;
    color: $color-light;
  }

  .user-ideas {
    margin-top: 7px;
    text-align: center;
    p {
      text-align: left;
    }
    .btn {
      margin: 0 auto;

    }
  }
}
/*-------------------------------------------*\
  WIDGET
/*-------------------------------------------*/
.widget {
  .widget-scroll {
    max-height: 250px;
    overflow-y: scroll;
  }
}

.widget {
  &.widget-remaning {

    .widget-remaining-progress {
      & > svg {
        width: 40%;
        margin: 0px 30%;
      }
      .remaining-label {
        color: $color-dark !important;
      }
    }


  }
}
